Build/
Dependencies/ImGui/bin/
Dependencies/ImGui/bin-int/
.vs/

*.xcscheme
*.xcbkptlist
*.ipch
*.bin
*.vcxproj
*.filters
*.user
*.vspx
*.sln
*.DS_Store
*.plist
*.xcworkspacedata
*.xcuserstate
*.pbxproj
